html {
    background-color: lightblue;
}

h1 {
    text-align: center;
    color: blue;
}

h1:hover {
    color: aqua;
}

.zoomout {
    transition: height, 2s;
    transition: width, 2s;
    width: 400px;
    height: 400px;
}

.zoomout:hover {
    width: 525px;
    height: 525px;
}

#flowerimg {
    padding: 20px;
    display: grid;
}

#earthimg {
    padding: 20px;
    display: grid;
}

#snowimg {
    padding: 20px;
    display: grid;
}

#whjimg {
    padding: 20px;
    display: grid;
}

p {
    font-size: 25px;
    color: blue;
}

p:hover {
    color: aqua;
}
